{% extends "base.html" %}
{% block title %}Add a card{% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
$(document).ready(function () {
    $(".flash").delay(1000).fadeOut("slow");
    $("#question").focus() 
});
</script>
{% endblock %}


{% block content %}
<h2 class="title">Add a new card</h2>
<div class="inner">
{% if added %}
<div class="flash"><div class="message notice"><p>Card successfully added</p></div></div>
{% endif %}

<form action="/addCard/" class="form" method="post">
<label for="question">Question:</label><br/>
<textarea id="question" class="text_area" rows="3" cols="60" name="question"></textarea>

<br/><br/>

<label for="answer">Answer:</label><br/>
<textarea id="answer" class="text_area" rows="3" cols="60" name="answer"></textarea>
<br/><br/>                

<input type="submit" value="Add">
</form>
</div>
{% endblock %}
