<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}Memizr{% endblock %}</title>
  <link rel="stylesheet" href="/site_media/web-app-theme/stylesheets/base.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="current-theme" href="/site_media/web-app-theme/stylesheets/themes/default/style.css" type="text/css" media="screen" />
  <script type="text/javascript" charset="utf-8" src="/site_media/web-app-theme/javascripts/jquery-1.3.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/site_media/web-app-theme/javascripts/jquery.scrollTo.js"></script>
  <script type="text/javascript" charset="utf-8" src="/site_media/web-app-theme/javascripts/jquery.localscroll.js"></script>
  {% block extra_javascript %}{% endblock %}
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/home">Memizr</a></h1>
{% comment %}
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><a class="logout" href="#">Logout</a></li>
        </ul>
      </div>
{% endcomment %}
      <div id="main-navigation">
        <ul class="wat-cf">
          {% block navigation %}
          <li class="first {% ifequal active_tab "home" %}active{% endifequal %}"><a href="/home">Home</a></li>
          <li class="{% ifequal active_tab "review" %}active{% endifequal %}"><a href="/review">Review</a></li>
          <li class="{% ifequal active_tab "add" %}active{% endifequal %}"><a href="/add">Add Cards</a></li>
          <li class="{% ifequal active_tab "edit" %}active{% endifequal %}"><a href="/edit">Edit Cards</a></li>
          {% endblock %}
        </ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div id="main">

        <div class="block" id="block-text">
          <div class="content">
            {% block content %}
            <h2 class="title">Text</h2>
            <div class="inner">
              <p class="first">
              Hello World!
              </p>
            </div>
            {% endblock %}
          </div>
        </div>
    </div>
  </div>
</body>
</html>

