{% extends "base.html" %}
{% block title %}Grade description{% endblock %}
{% block content %}
<div class="inner">
<h2>Grade descriptions<h2>
<p>
0: don't know the answer yet<br/>
1: still don't know the answer, but it's a little more familar<br/>
----<br/>
2: should be able to remember for one or two days<br/>
3: takes significant effort to remember (interval was too long)<br/>
4: can remember with some effort (interval was just right)<br/>
5: easy (interval was too short)<br/>
</p>
</div>
{% endblock %}
