{% extends "base.html" %}
{% block title %}Review your cards{% endblock %}

{% block extra_javascript %}
<script type="text/javascript" src="/site_media/web-app-theme/javascripts/shortcut.js"></script>
<script type="text/javascript">
function onShowAnswer() {
    setUpGradeShortcuts();
    $('#answer').show()
    $('#showAnswerButton').hide()
    $('#gradeBox').show()
//    $('#debugInfo').show()
}

function clickButton(grade) {
    $("#grade" + grade).click()
}

function setUpGradeShortcuts() {
        shortcut.add("0", function() {
            clickButton("0")
        });
        shortcut.add("1", function() {
            clickButton("1")
        });
        shortcut.add("2", function() {
            clickButton("2")
        });
        shortcut.add("3", function() {
            clickButton("3")
        });
        shortcut.add("4", function() {
            clickButton("4")
        });
        shortcut.add("5", function() {
            clickButton("5")
        });
}

shortcut.add("Ctrl+Space", function() {
    onShowAnswer()
});

$(document).ready(function() {
    $("#scratch").focus()
    
    $("#descLink").click(function () {
        $("#descriptions").toggle()
        return false
    })
})

</script>
{% endblock %}
			
{% block content %}
<div class="inner">
{% if card %}
    <p><a href="/edit/{{ card.id }}">Edit this card</a></p>
    <div id="question">{{ card.question|linebreaks }}</div>
    <div id="answer" style="display:none">{{ card.answer|linebreaks }}</div>

    <button type="button" id="showAnswerButton" onClick="onShowAnswer()">Show Answer</button>
   
    <br/><br/>
    <label for="answer">Scratch area:</label><br/>
    <textarea id="scratch" rows="3" cols="60" name="answer"></textarea>

    <div id="gradeBox" style="display:none">
        <br/>
        <div id="gradeYourAnswer">Grade your answer:</div>    

        <form action="/grade/" method="post">
        <input type="hidden" name="cardId" value="{{ card.id }}"/>
        <input name="grade" id="grade0" type="submit" value="0"/> 
        <input name="grade" id="grade1" type="submit" value="1"/> 
        | 
        <input name="grade" id="grade2" type="submit" value="2"/> 
        <input name="grade" id="grade3" type="submit" value="3"/> 
        <input name="grade" id="grade4" type="submit" value="4"/> 
        <input name="grade" id="grade5" type="submit" value="5"/> 
        <p><a id="descLink" href="#">Grade Descriptions</a></p>
        <div id="descriptions" style="display: none;">
            <p>
            0: don't know the answer yet<br/>
            1: still don't know the answer, but it's a little more familar<br/>
            ----<br/>
            2: should be able to remember for one or two days<br/>
            3: takes significant effort to remember (interval was too long)<br/>
            4: can remember with some effort (interval was just right)<br/>
            5: easy (interval was too short)<br/>
            </p>
        </div>
    </form>
    </div>
    <p>Keyboard shortcuts: Ctrl+Space to see the answer.  0, 1, 2, 3, 4, 5 to grade after seeing the answer.</p>
{% else %}
    <p>No cards are currently available.</p>
{% endif %}
</div>
{% endblock %}	
