{% extends "base.html" %}
{% block title %}Review your cards{% endblock %}

{% block extra_javascript %}
<script type="text/javascript" src="/site_media/web-app-theme/javascripts/shortcut.js"></script>
<script type="text/javascript">
function onShowAnswer() {
    setUpGradeShortcuts();
    $('#answer').show()
    $('#showAnswerButton').hide()
    $('#gradeBox').show()
//    $('#debugInfo').show()
}

function clickButton(grade) {
    $("#grade" + grade).click()
}

function setUpGradeShortcuts() {
        shortcut.add("0", function() {
            clickButton("0")
        });
        shortcut.add("1", function() {
            clickButton("1")
        });
        shortcut.add("2", function() {
            clickButton("2")
        });
        shortcut.add("3", function() {
            clickButton("3")
        });
        shortcut.add("4", function() {
            clickButton("4")
        });
        shortcut.add("5", function() {
            clickButton("5")
        });
}

shortcut.add("Ctrl+Space", function() {
    onShowAnswer()
});

$(document).ready(function() {
    $("#scratch").focus()
})

</script>
{% endblock %}
			
{% block content %}
<div class="inner">
{% if card %}
    <p><a href="/edit/{{ card.id }}">Edit this card</a></p>
    <p id="question">{{ card.question }}</p>
    <p id="answer" style="display:none">{{ card.answer }}</p>

    <button type="button" id="showAnswerButton" onClick="onShowAnswer()">Show Answer</button>
   
    <br/><br/>
    <label for="answer">Scratch Room:</label><br/>
    <textarea id="scratch" rows="3" cols="60" name="answer"></textarea>

    <div id="gradeBox" style="display:none">
    <br/>
    <div id="gradeYourAnswer">Grade your answer:</div>    

    <form action="/grade/" method="post">
    <input type="hidden" name="cardId" value="{{ card.id }}"/>
    <input name="grade" id="grade0" type="submit" value="0"/> 
    <input name="grade" id="grade1" type="submit" value="1"/> 
    | 
    <input name="grade" id="grade2" type="submit" value="2"/> 
    <input name="grade" id="grade3" type="submit" value="3"/> 
    <input name="grade" id="grade4" type="submit" value="4"/> 
    <input name="grade" id="grade5" type="submit" value="5"/> 
    <p><a href="/gradeDescriptions">Grade Descriptions</a></p>
    </form>
    </div>
    
    <p id="debugInfo" style="display: none">Debug info: {{ card }}</p>

{% else %}
    <p>No cards are currently available.</p>
{% endif %}
</div>
{% endblock %}	
